@import "footer";
@import "header";
@import "hero";
@import "features";
@import "extra";

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  background: hsl(217, 28%, 15%);
}
